/* App genel stilleri */



/* Scroll smooth */
html {
  scroll-behavior: smooth;
}

/* Varsayılan font ve sıfırlamalar */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
